.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.upload-wrapper {
  margin-top: 20px;
}

.test-wrapper {
  padding: 20px;
  text-align: left;
}

.test-title {
  font-weight: bold;
}

.test-steps-works {
  background: #89e8af;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}

.test-steps-issue {
  background: #fbc57f;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
